.loading__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 100%;
}

.loading__loader--container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loading__loader {
  width: 83px;
  --b: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, var(--color-main)) content-box;
  -webkit-mask: repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(farthest-side, #0000 calc(100% - var(--b) - 1px), #000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}
@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}

.loading__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Taenada', sans-serif;
  gap: 4px;
}

.loading__text--AI {
  font-size: 23px;
  color: var(--color-text);
}

.loading__text--wait {
  font-size: 25px;
  color: var(--color-main);
}

.loading__background--logo {
  position: absolute;
  top: 146px;
  overflow: hidden;
}
