.home-container {
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    /* 이미지 잘림 방지 + 넘는 부분 숨기기 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    background: linear-gradient(180deg,
            #497CFF 4%,
            #1F5EFF 44%,
            #001F6E 100%);
}

.home-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150vw;
    height: auto;
    transform: translate(-34%, -40%);
    z-index: 1;
}

/* 텍스트 */
.text-wrap {
    margin-left: 10%;
    margin-top: 20%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    z-index: 2;

}

.sub-text {
    font-size: 44px;
    line-height: 50px;
    font-weight: 600;
    letter-spacing: -0.05em;
    margin: 0 0 20px 0;
    color: #FFFFFF;
    z-index: 2;
}

.main-title {
    font-family: 'Taenada', sans-serif;
    font-size: 60px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    line-height: 45px;
    letter-spacing: -0.05em;
    z-index: 2;
}

.btn-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.go-btn {
    background: white;
    color: var(--color-main);
    padding: 19px 35px 12px 35px;
    margin-bottom: 120px;
    border-radius: 16px;
    font-size: 32px;
    line-height: 45px;
    letter-spacing: -0.05em;
    font-family: 'Taenada', sans-serif;
    cursor: pointer;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    z-index: 2;
}