.topbar {
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  height: 80px;
  background-color: var(--color-background);
  box-shadow: var(--shadow-default);
}

.topbar__button-prev {
  cursor: pointer;
  position: absolute;
  left: 20px;
}

.topbar__title {
  font-family: 'Taenada', sans-serif;
  font-size: 26px;
  color: var(--color-text);
  padding-top: 10px;
}
