@import './font.css';
@import './reset.css';
@import './palette.css';

/* 불러온 폰트 정의 */
@font-face {
  font-family: 'Paperozi';
  src: url('../assets/font/Paperlogy-5Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Paperozi';
  src: url('../assets/font/Paperlogy-6SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Paperozi';
  src: url('../assets/font/Paperlogy-7Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Taenada';
  src: url('../assets/font/Tenada.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}
