.result__container {
  overflow-y: scroll;
  height: 100%;
  padding: 35px 24px 70px;
}

.result__graph {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 18px;
}

.result__graph--text {
  padding-top: 40px;
  position: absolute;
  font-family: 'Taenada', sans-serif;
}

.result__graph--label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  font-size: 20px;
  padding-bottom: 10px;
}

.result__graph--number {
  display: flex;
  color: var(--color-main);
  font-size: 70px;
  align-items: end;
  gap: 5px;
  text-shadow: var(--shadow-text);
}

.result__graph--percent {
  color: var(--color-text);
  font-size: 24px;
  padding-bottom: 15px;
}

.result__summary {
  display: flex;
  padding: 20px 15px;
  flex-direction: column;
  gap: 13px;
  font-weight: 600;
  color: var(--color-text);
  background-color: var(--color-input);
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px var(--color-logo-background);
  margin-bottom: 19px;
}

.result__summary--text {
  display: flex;
  gap: 7px;
}

.result__detail {
  border-radius: 10px;
  padding: 12px;
  border: 2px solid var(--color-logo-background);
}

.result__detail--container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2px 3px;
}

.result__detail--label {
  color: var(--color-text);
  font-weight: 600;
  font-size: 16px;
}

.result__notice {
  padding-top: 5px;
  padding-bottom: 14px;
  display: flex;
  align-items: center;
  gap: 3px;
  color: var(--color-info);
  font-weight: 500;
  font-size: 11px;
}

.result__info {
  border-radius: 10px;
  padding: 12px 12px 0px;
  border: 2px solid var(--color-logo-background);
  margin-bottom: 100px;
}

.result__info--title {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-text);
  padding-bottom: 5px;
}

.result__info--text {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-main);
  padding-bottom: 15px;
  line-height: 17px;
}

.result__loader--container {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
}

/* 로더 라이브러리 가져옴 */
.result__loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, var(--color-main) 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
